<div class="cuerpo espacio" id="scroll">
    <h2>Contenido</h2>

    <div class="entrada">
        <div>Tipo:</div>
        <div class="tipo">
            <div>
                <input type="radio" name="tipo" id="video" value="video">
                <label for="video">Video</label>
            </div>

            <div>
                <input type="radio" name="tipo" id="imagen" value="imagen">
                <label for="imagen">Imagen</label>
            </div>

            <div>
                <input type="radio" name="tipo" id="imagen360" value="imagen360">
                <label for="imagen360">Imagen 360</label>
            </div>
        </div>
    </div>
    <div class="entrada">
        <div>
            Link:
        </div>
        <input type="text" #txtLink>
        <div class="video"></div>
    </div>
    
    <div class="entrada">
        <div>
            Titulo:
        </div>
        <input type="text" #txtTitulo>
    </div>

    <div class="entrada">
        <div>
            Contenido:
        </div>
        <textarea #txtContenido cols="30" rows="10"></textarea>
    </div>

</div>
<div class="guardar espacio">
    <div class="button bold">
        Guardar
    </div>
</div>