<div class="cuerpo espacio" id="scroll">
  <h2>Contenido</h2>
  <div class="slides">
    <div
      class="slide"
      *ngFor="let contenidoForm of contenidoForms; let i = index"
      [formGroup]="contenidoForm">
      <div class="slide-cabecera">
        <div class="slide-cabecera-titulo">Titulo</div>
        <div class="slide-cabecera-acciones">
          <div (click)="verContenido(i)">Editar</div>
          <div>Eliminar</div>
        </div>
      </div>
      <div class="slide-cuerpo" *ngIf="abrirContenido[i]">
        <div class="slide-cuerpo-opciones">
          <div
            class="slide-cuerpo-opciones-opcion"
            [ngClass]="{ active: opcionContenido[i] === 'multimedia' }"
            (click)="cambiarOpcion(i, 'multimedia')">
            Multimedia
          </div>
          <div
            class="slide-cuerpo-opciones-opcion"
            [ngClass]="{ active: opcionContenido[i] === 'descripcion' }"
            (click)="cambiarOpcion(i, 'descripcion')">
            Descripción
          </div>
        </div>
        <!-- MULTIMEDIA INICIO-->
        <div
          class="slide-cuerpo-multimedia"
          *ngIf="opcionContenido[i] === 'multimedia'">
          <div class="entrada">
            <div>Tipo:</div>
            <div class="tipo">
              <div *ngFor="let tipo of media">
                <input
                  type="radio"
                  formControlName="tipo"
                  [value]="tipo.id"
                  [id]="tipo.id"
                  (change)="tipoSeleccionado[i] = tipo.id" />
                <label [for]="tipo.id">{{ tipo.nombre }}</label>
              </div>
            </div>
          </div>

          <!-- IMAGEN INICIO-->
          <div class="entrada" *ngIf="tipoSeleccionado[i] === 1">
            <div>Link:</div>
            <input type="text" formControlName="linkImagen" />
            <div
              class="mensaje-error"
              *ngIf="
                contenidoForm.get('linkImagen')?.hasError('required') &&
                contenidoForm.get('linkImagen')?.touched
              ">
              <div class="mensaje-error-icon">
                <img src="assets/advertencia.png" alt="advertencia" />
              </div>
              <div>La imagen es requerida.</div>
            </div>
          </div>
          <!-- IMAGEN FIN-->

          <!-- VIDEO INICIO-->
          <div class="entrada" *ngIf="tipoSeleccionado[i] === 2">
            <div>Link:</div>
            <input type="text" formControlName="linkVideo" />
            <iframe
              class="video"
              [src]="
                convertirALinkSeguro(
                  convertirAVideoCompartido(
                    contenidoForm.get('linkVideo')?.value
                  )
                )
              ">
            </iframe>
            <div
              class="mensaje-error"
              *ngIf="
                contenidoForm.get('linkVideo')?.hasError('required') &&
                contenidoForm.get('linkVideo')?.touched
              ">
              <div class="mensaje-error-icon">
                <img src="assets/advertencia.png" alt="advertencia" />
              </div>
              <div>El link es requerido.</div>
            </div>
          </div>
          <!-- VIDEO FIN-->

          <!-- IMAGEN360 INICIO-->
          <div class="entrada" *ngIf="tipoSeleccionado[i] === 3">
            <div>Link:</div>
            <input type="text" formControlName="linkImagen360" />
            <div
              class="mensaje-error"
              *ngIf="
                contenidoForm.get('linkImagen360')?.hasError('required') &&
                contenidoForm.get('linkImagen360')?.touched
              ">
              <div class="mensaje-error-icon">
                <img src="assets/advertencia.png" alt="advertencia" />
              </div>
              <div>La imagen360 requerido.</div>
            </div>
          </div>
          <!-- IMAGEN360 FIN-->
        </div>
        <!-- MULTIMEDIA FIN-->

        <!-- DESCRIPCION INICIO-->
        <div
          class="slide-cuerpo-descripcion"
          *ngIf="opcionContenido[i] === 'descripcion'">
          <div class="entrada">
            <div>Titulo:</div>
            <input type="text" formControlName="titulo" />
            <div
              class="mensaje-error"
              *ngIf="
                contenidoForm.get('titulo')?.hasError('required') &&
                contenidoForm.get('titulo')?.touched
              ">
              <div class="mensaje-error-icon">
                <img src="assets/advertencia.png" alt="advertencia" />
              </div>
              <div>El titulo es requerido.</div>
            </div>
          </div>
          <div class="entrada">
            <div>Contenido:</div>
            <textarea
              cols="30"
              rows="10"
              formControlName="contenido"></textarea>
            <div
              class="mensaje-error"
              *ngIf="
                contenidoForm.get('contenido')?.hasError('required') &&
                contenidoForm.get('contenido')?.touched
              ">
              <div class="mensaje-error-icon">
                <img src="assets/advertencia.png" alt="advertencia" />
              </div>
              <div>El contenido es requerido.</div>
            </div>
          </div>
        </div>
        <!-- DESCRIPCION FIN-->
      </div>
    </div>
    <!-- OPCION PARA AGREGAR SLIDER INICIO-->
    <div
      class="button-1 button-2 bold"
      (click)="agregarSlide()"
      [class.disabled]="sliderDeshabilitado">
      Agregar Contenido
    </div>
    <!-- OPCION PARA AGREGAR SLIDER FIN-->
  </div>
</div>
<!-- AGREGAR CONTENIDO INICIO -->
<div class="footer espacio" *ngIf="funcion === 'agregar'">
  <div class="form-nav bold" (click)="anteriorPaso()">Atras</div>
  <div
    class="button-1 bold"
    [class.disabled]="!isFormArrayValid()"
    (click)="guardarContenido()">
    Agregar
  </div>
</div>
<!-- AGREGAR CONTENIDO FIN -->

<!-- EDITAR CONTENIDO INICIO -->
<div class="footer espacio" *ngIf="funcion === 'editar'">
  <div class="form-nav bold" (click)="anteriorPaso()">Atras</div>
  <div
    class="button-1 bold"
    [class.disabled]="!isFormArrayValid()"
    (click)="guardarContenido()">
    Editar
  </div>
  <div class="form-nav bold disabled">Siguiente</div>
</div>
<!-- EDITAR CONTENIDO FIN -->
