.cuerpo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.espacio {
  padding: 20px;
}

#scroll {
  overflow-y: scroll;
  max-height: 100%;
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #010163 0%, #520252 100%);
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-cabecera {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #bfbfbf;
}

.slide-cabecera-acciones {
  display: flex;
  gap: 10px;
}

.slide-cuerpo {
  padding: 20px;
  border: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-cuerpo-opciones {
  display: flex;
}

.slide-cuerpo-opciones-opcion {
  flex: 1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

.active {
  background: linear-gradient(90deg, #010163 0%, #520252 100%);
  color: white;
  font-weight: 700;
}

.slide-cuerpo-multimedia,
.slide-cuerpo-descripcion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tipo {
  display: flex;
}

.tipo div {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  flex: 1;
}

.video,.imagen {
  width: 100%;
  background: #cccccc;
  height: 200px;
}
.imagen{
  object-fit: cover;
}

.footer {
  border-top: 1px solid #bfbfbf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions{
  filter: brightness(0%);
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: filter .5s ease;
}
.actions:hover{
  filter: brightness(50%);
}

textarea{
  resize: none;
  height: 150px;
}
.add{
  width: 20px;
  height: 20px;
}