.beneficio {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 4px;
    cursor: default;
}
.editar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    gap: 10px;
}
.nuevo {
    border-radius: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.nuevo img {
    cursor: pointer;
    padding: 4px;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    vertical-align: middle;

}

.nuevo img:hover {
    background-color: #00000040;
}


.icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    cursor: pointer;
    border-radius: 100px;
    vertical-align: middle;
}
.contenidoIcono{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.icon:hover {
    background-color: #00000040;
}