<div [ngStyle]=gridLayout()>

    <ng-container *ngFor="let filas of posicion">
        <div *ngFor="let columna of filas" class="agregar"
            [ngStyle]=posicionExperiencia(columna.ciclo,columna.ciclo,columna.fila)>
            <div class="icon" (click)="abrirModal()">
                <img src="assets/agregar.svg" alt="agregarExperiencia">
            </div>
        </div>
    </ng-container>

    <div *ngFor="let experiencia of experiencias"
        [ngStyle]=posicionExperiencia(experiencia.cicloInicio,experiencia.cicloFin,experiencia.fila) class="editar">
        <div class="icon">
            <img src="assets/ver.svg" alt="ver">
        </div>
        <div class="icon">
            <img src="assets/editar.svg" alt="editar">
        </div>
        <div class="icon">
            <img src="assets/eliminar.svg" alt="eliminar">
        </div>
    </div>


</div>