<div class="container">
    <div class="add-edit">
        <div class="barraTitulo">
            <div class="h2 bold">
                Agregar Experiencia
            </div>
            <div class="cerrar" (click)="cerrarModal()">
                <img src="assets/cerrar.png" alt="">
            </div>
        </div>
        <div class="cuerpo espacio" id="scroll">
            <div class="ciclos">
                <div class="entrada">
                    <div>
                        Ciclo Inicio:
                    </div>
                    <input type="text">
                </div>
                <div class="entrada">
                    <div>
                        Ciclo Fin:
                    </div>
                    <input type="text">
                </div>
            </div>

            <div class="icono">
                <div class="entrada">
                    <div>
                        Icono:
                    </div>
                    <div class="icono-img">
                        <img src="assets/editar.svg" alt="123">
                        <div class="acciones">
                            <div class="accion">
                                <img src="assets/subir.png" alt="">
                            </div>
                            <div class="accion">
                                <img src="assets/eliminarNegro.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guardar espacio">
            <div class="button bold">
                Guardar
            </div>
        </div>

    </div>

</div>