<div class="container">
    <div class="add-edit">
        <div class="barraTitulo">
            <div class="h2 bold">
                Agregar Experiencia
            </div>
            <div class="cerrar" (click)="cerrarModal()">
                <img src="assets/cerrar.png" alt="">
            </div>
        </div>

        <!-- PASO 1 -->
        <ng-container [ngSwitch]="pasoActual">
            <app-experiencia-form-paso1 *ngSwitchCase="1" [fila]="fila" [columna]="columna" (paso)="actualizarPaso($event)"></app-experiencia-form-paso1>
            <app-experiencia-form-paso2 *ngSwitchCase="2"></app-experiencia-form-paso2>
        </ng-container>



        <!-- PASO 2 -->





    </div>

</div>