.editar {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  gap: 10px;
  position: relative;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  border-radius: 100px;
  vertical-align: middle;
  transition: filter .25s ease;
}

.icon img {
  width: 20px;
  height: 20px;
}

.nombre {
  display: none;
  white-space: nowrap;
  position: absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  bottom: 100%;
  font-size: 12px;
}

.icon:hover {
  filter: brightness(15%);
}

.editar .actions {
  display: none;
}

.editar:hover .default {
  display: none;
}

.editar:hover .actions,
.editar:hover .nombre {
  display: inherit;
}
