.agregar,
.editar {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  gap: 10px;
  position: relative;
}

.icon,
.add {
  display: flex;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  border-radius: 100px;
  vertical-align: middle;
}

.icon img,
.add img {
  width: 20px;
  height: 20px;
}

.agregar .add {
  background: linear-gradient(90deg, #0202c6ab 0%, #a304a3ab 89.58%);
}
.nombre {
  display: none;
  white-space: nowrap;
  position: absolute;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  bottom: 100%;
  font-size: 12px;
}

.agregar .icon:hover {
  background: linear-gradient(90deg, #0202c6 0%, #a304a3 89.58%);
}

.add:hover img {
  filter: brightness(0%);
}

.icon:hover {
  filter: brightness(50%);
}

.editar .actions {
  display: none;
}

.editar:hover .default {
  display: none;
}

.editar:hover .actions,
.editar:hover .nombre {
  display: inherit;
}
