.ruta {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.carrera{
    display: flex;
    justify-content: flex-end;
}
.carrera h1 {
    background: linear-gradient(90deg, #0202C6, #A304A3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: end;
}