img {
  width: auto;
}
.navegador {
  background: black;
}

.navegador-logo {
  padding: 10px;
}

.navegador-icons-icon {
  cursor: pointer;
}

.navegador-icons-icon-image {
  padding: 10px 0;
}

.navegador-icons-icon-name {
  z-index: 1;
  padding: 4px 10px;
  left: 69px;
  background: #00002d;
  white-space: nowrap;
  color: white;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.navegador-icons-icon-name::before {
  z-index: -1;
  content: '';
  position: absolute;
  left: -17px;
  border: 9px solid transparent;
  border-right-color: #00002d;
  display: none;
}

.navegador-icons-icon:hover,
.navegador-user:hover .navegador-user-img {
  background: linear-gradient(
    180deg,
    rgba(163, 4, 163, 0) 42.19%,
    #a304a3 100%
  );
}

.navegador-icons-icon:hover .navegador-icons-icon-name,
.navegador-icons-icon:hover .navegador-icons-icon-name::before {
  display: inherit;
}

.navegador-user-img {
  cursor: pointer;
  padding: 10px 0;
}
.navegador-user-txt {
  z-index: 1;
  padding: 10px;
  left: 60px;
  bottom: 0;
  background: black;
  white-space: nowrap;
  color: white;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-top-right-radius: 6px;
}
.button-1{
  padding: 10px;
}
.navegador-user-img:hover + .navegador-user-txt, .navegador-user-txt:hover {
  display: inherit;
}
