img{
  width: auto;
}
.nav {
  height: 100%;
  background: linear-gradient(180deg, #010163 0%, #520252 100%);
  flex-direction: column;
  justify-content: flex-start;
}

.nav-logo {
  padding: 10px;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icons-icon {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.nav-icons-icon-image {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.nav-icons-icon-name {
  z-index: 1;
  position: absolute;
  padding: 4px 10px;
  left: 69px;
  display: flex;
  align-items: center;
  background: #00002d;
  border-radius: 5px;
  white-space: nowrap;
  color: white;
  display: none;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.nav-icons-icon-name::before {
  z-index: -1;
  content: '';
  position: absolute;
  left: -17px;
  border: 9px solid transparent;
  border-right-color: #00002d;
  display: none;
}

.nav-icons-icon:hover {
  background: linear-gradient(
    180deg,
    rgba(163, 4, 163, 0) 42.19%,
    #a304a3 100%
  );
}

.nav-icons-icon:hover .nav-icons-icon-name,
.nav-icons-icon:hover .nav-icons-icon-name::before {
  display: inherit;
}
