.navbar {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #010163 0%, #520252 100%);
}

.navbar-logo {
    padding: 10px;
}

.navbar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons-icon {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.navbar-icons-icon-image {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.navbar-icons-icon-name {
    z-index: 1;
    position: absolute;
    padding: 4px 10px;
    left: 69px;
    display: flex;
    align-items: center;
    background: #00002D;
    border-radius: 5px;
    white-space: nowrap;
    color: white;
    display: none;


    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.navbar-icons-icon-name::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: -17px;
    border: 9px solid transparent;
    border-right-color: #00002D;
    display: none;
}

.navbar-icons-icon:hover {
    background: linear-gradient(180deg, rgba(163, 4, 163, 0) 42.19%, #A304A3 100%);

}

.navbar-icons-icon:hover .navbar-icons-icon-name,
.navbar-icons-icon:hover .navbar-icons-icon-name::before {
    display: inherit;
}