<div class="navbar">

    <div class="navbar-logo">
        <img src="../assets/logoConti.png" alt="Contintental">
    </div>

    <div class="navbar-icons">

        <div routerLink="rutaExperiencia" class="navbar-icons-icon ">
            <div class="navbar-icons-icon-image">
                <img src="../assets/rutaIcon.png" alt="Ruta_Experiencia">
            </div>
            <div class="navbar-icons-icon-name">
                Ruta Experiencia
            </div>
        </div>

        <div routerLink="facultades" class="navbar-icons-icon">
            <div class="navbar-icons-icon-image">
                <img src="../assets/facultadIcon.png" alt="Facultades">
            </div>
            <div class="navbar-icons-icon-name">
                Facultades
            </div>
        </div>

        <div routerLink="carreras" class="navbar-icons-icon">
            <div class="navbar-icons-icon-image">
                <img src="../assets/carreraIcon.png" alt="Carreras">
                <div class="navbar-icons-icon-name">
                    Carreras
                </div>
            </div>
        </div>


        <div routerLink="usuarios" class="navbar-icons-icon">
            <div class="navbar-icons-icon-image">
                <img src="../assets/usuariosIcon.png" alt="Usuarios">
            </div>
            <div class="navbar-icons-icon-name">
                Usuarios
            </div>
        </div>

        <div routerLink="preguntasFrecuentes" class="navbar-icons-icon">
            <div class="navbar-icons-icon-image">
                <img src="../assets/preguntasIcon.png" alt="Preguntas_Frecuentes">
            </div>
            <div class="navbar-icons-icon-name">
                Preguntas Frecuentes
            </div>
        </div>

        <div routerLink="errores" class="navbar-icons-icon">
            <div class="navbar-icons-icon-image">
                <img src="../assets/erroresIcon.png" alt="Errores">
            </div>
            <div class="navbar-icons-icon-name">
                Errores
            </div>
        </div>

    </div>
</div>