<div class="cuerpo espacio" id="scroll">
    <div class="ciclos">
        <div class="entrada">
            <div>
                Ciclo Inicio:
            </div>
            <input type="text" [value]="experiencia.ExCicloInicio" disabled #txtCicloInicio>
        </div>
        <div class="entrada">
            <div>
                Ciclo Fin:
            </div>
            <select #selCicloFin>
                <option *ngFor="let ciclo of opcionesCiclos" [value]="ciclo">{{experiencia.ExCicloFin}}</option>
            </select>
        </div>
    </div>
    <div class="entrada">
        <div>
            Nombre Experiencia:
        </div>
        <input type="text" [value]="experiencia.ExNombre" #txtNombreExperiencia>
    </div>
    <div class="entrada">
        <div>
            Icono:
        </div>
        <input type="text" [value]="experiencia.ExIconoUrl" #txtUrlIcono>
    </div>
</div>

<div class="footer espacio">
    <div class="button-1 bold" (click)="siguientePaso()">
        Siguiente
    </div>
</div>