 .cuerpo {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 20px;
 }

 .espacio {
   padding: 20px;
 }

 #scroll {
   overflow-y: scroll;
 }

 #scroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #F5F5F5;
 }

 #scroll::-webkit-scrollbar {
   width: 6px;
   background-color: #F5F5F5;
 }

 #scroll::-webkit-scrollbar-thumb {
   background: linear-gradient(180deg, #010163 0%, #520252 100%);
 }

 .ciclos {
   display: flex;
   gap: 20px;
 }


 .acciones {
   display: flex;
   align-items: center;
   gap: 10px;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 10px;
   margin: auto;
 }

 .accion {
   display: flex;
   width: 25px;
   height: 25px;
   padding: 5px;
   border-radius: 100px;
   background: white;
   cursor: pointer;
 }

 .accion img {
   width: 100%;
   height: 100%;
 }

 .info {
   padding: 20px;
   border: 1px solid #BFBFBF;
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .activeInfo {
   font-weight: 700;
   background: white;
 }

 .icono {
   display: flex;
   align-items: flex-start;
   gap: 10px;
 }

 .icono select {
   flex: 4;
 }

 .icono-img {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background: linear-gradient(90deg, #0202C6, #A304A3); */
   background-color: rgb(128, 128, 128);
   padding: 5px;
   height: 45px;
 }

 .icono-img img {
   height: 100%;
   object-fit: contain;
 }

 .slider {
   position: relative;
 }

 .imagen {
   background: #CCCCCC;
   position: relative;
   display: flex;
   justify-content: center;
   padding: 5px;
   height: 200px;
 }

 .imagen .acciones {
   top: inherit;
   bottom: 10px;
   right: 10px;
 }

 .imagen img {
   width: 100%;
   height: 100%;
 }

 .footer {
   border-top: 1px solid #BFBFBF;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .text-danger {
   text-align: start;
   color: #f20c0c;
   margin-left: 7px;
 }










 .multimedia {
   display: flex;
 }

 .multimedia-opciones {
   padding: 10px 0;
   flex: 1;
   text-align: center;
   border: 1px solid #BFBFBF;
   cursor: pointer;
 }

 .activeMultimedia {
   border: 0;
   font-weight: 700;
 }