/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --carrera-color-1: #0202c6;
  --carrera-color-2: #6802c1;
  --carrera-color-3: #a304a3;
  --carrera-color-4: #ea0303;
  --carrera-color-5: #ff521d;
  --carrera-color-6: #b17df4;
  --carrera-color-7: #ed76f4;
  --carrera-color-8: #f97373;
  --carrera-color-9: #ff8773;
  --carrera-color-10: #63fdcb;
  --carrera-color-11: #1df1eb;
  --carrera-color-12: #ed739b;
  --carrera-color-13: #e44d85;
  --carrera-color-14: #c616bc;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.body {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.entrada {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  padding: 10px;
  height: 45px;
}

.button-1 {
  text-align: center;
  padding: 10px 50px;
  background: linear-gradient(90deg, #0202c6 0%, #a304a3 89.58%);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button-2 {
  text-align: center;
  background: linear-gradient(90deg, #b3b3ee 0%, #e3b4e3 100%);
  color: #000000;
}

.disabled {
  opacity: 0.5;
  cursor: inherit;
  pointer-events: none;
}

.mensaje-error {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  display: flex;
  gap: 5px;
  align-items: center;
}

.mensaje-error-icon,
.mensaje-error-icon img {
  height: 20px;
  width: 20px;
}

.form-nav {
  cursor: pointer;
  background: linear-gradient(90deg, #0202c6, #a304a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SLIDER */
.carousel-item,
.carousel-inner {
  height: 100%;
}
button.carousel-control-next,
button.carousel-control-prev {
  top: inherit;
  bottom: inherit;
  width: auto;
  margin: 0 10px;
  filter: brightness(10%);
}

iframe {
  width: 100%;
  height: 100%;
}
