.ruta {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.carrera {
  display: flex;
  justify-content: flex-end;
}
.carrera h2 {
  background: linear-gradient(90deg, #0202c6, #a304a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: end;
}

.beneficio {
  border: 1px inset #ff0000;
  border-radius: 4px;
  padding: 1px 5px;
}
