<div class="contenedor">
  <div class="contenido rounded overflow-hidden">
    <div (click)="cerrarContenido()" class="position-absolute cerrar">
      <img src="assets/cerrar.png" alt="cerrar" />
    </div>
    <div
      *ngIf="contenidos.length === 0"
      class="h-100 w-100 d-flex justify-content-center align-items-center">
      <h1 class="color-2">No hay contenidos</h1>
    </div>
    <ngb-carousel
      *ngIf="contenidos.length > 0"
      [interval]="0"
      [showNavigationArrows]="contenidos.length === 1 ? false : true"
      [showNavigationIndicators]="contenidos.length === 1 ? false : true"
      class="h-100 d-flex justify-content-center align-items-center">
      <ng-template ngbSlide *ngFor="let contenido of contenidos; let i = index">
        <div class="row flex-wrap h-100">
          <div class="col-md-6 multimedia">
            <ng-container *ngIf="contenido.IdTipoMedia === 1">
              <img [src]="contenido.CoUrlMedia" [alt]="contenido.CoTitulo" />
            </ng-container>
            <ng-container *ngIf="contenido.IdTipoMedia === 2">
              <youtube-player
                [videoId]="obtenerIdVideo(contenido.CoUrlMedia)"
                suggestedQuality="highres">
              </youtube-player>
            </ng-container>
            <ng-container *ngIf="contenido.IdTipoMedia === 3">
              <ngx-view360
                class="h-100"
                [options]="options(contenido.CoUrlMedia)">
              </ngx-view360>
            </ng-container>
          </div>
          <div
            class="col-md-6 p-5 d-flex flex-column justify-content-between descripcion">
            <div style="overflow-y: auto; max-height: 100%">
              <h2 style="color: #a304a3" class="text-center mb-3">
                {{ contenido.CoTitulo }}
              </h2>
              <p>
                {{ contenido.CoDescripcion }}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
