 /* #content{
    float:left;
    width: 50%;
    min-height: 500px;
}
aside{
    float:left;
    width: 50%;
    min-height: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.text{

    margin-left: auto;
    margin-right: auto;
}
input{
    float: inline-end;
}  */

 /* jw-modal {
    display: none;
    .jw-modal {
        position: fixed;
        inset: 0;
        z-index: 10000;
        background-color: rgba(0,0,0,.75);
        padding: 40px;
        overflow: auto;
    }

    .jw-modal-body {
        padding: 20px;
        background: #fff;
        margin: 40px;
    }

}
body.jw-modal-body-open {
    overflow: hidden;
} */


 .container {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 50px;
   background: rgba(0, 0, 0, 0.8);
   backdrop-filter: blur(2px);
   top: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

 }

 .add-edit {
   position: relative;
   background: #FBF3FB;
   height: 600px;
   width: 1000px;
   display: flex;
   flex-direction: column;
 }

 .cuerpo {
   display: flex;
   height: 157px;

 }

 .multimedia {
   flex: 50%;
 }

 .texto {
   flex: 50%;
   padding: 30px;
   text-align: justify;

 }
 h1{
  text-align: center;
  padding: 5px;
  font-size:xx-large;

 }

 .multimedia img {
   width: 100%;
   height: 341%;

 }

 .multimedia iframe {
   width: 100%;
   height: 343%;
 }

 .barraTitulo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background: linear-gradient(90deg, #010163 0%, #520252 100%);
   color: white;
   flex-direction: row-reverse;
 }

 .cerrar {
   display: flex;
   cursor: pointer;
   width: 25px;
   height: 25px;
   padding: 5px;
   border-radius: 100px;



 }

 .cerrar:hover {
   background: #00000040;
 }

 .cerrar img {
   width: 100%;
   height: 100%;

 }
